{% extends "base.html" %}
{% block title %}
	Detail
{% endblock title %}
{% block content %}
	<div class="card" style="width: 18rem;">
			{% if car.car_img %}
				<img class="card-img-top" src="{{ car.car_img.url }}" alt="Card image cap">
			{% endif %}
		  
		  <div class="card-body">
		    <h5 class="card-title">{{car.make}} - {{car.model}}</h5>
		    <p class="card-text">{{car.year}}</p>
		    <a href="{% url 'car-update' car.id %}" class="btn btn-primary">Update</a>
		   	<a href="{% url 'car-delete' car.id %}" class="btn btn-primary">Delete</a>
		    <a href="{% url 'car-list' %}" class="btn btn-primary">List</a>

		  </div>
	</div>

{% endblock content %}
